.guest-container {
  max-width: 600px;
  margin: 0 auto;
}

.app-title img {
  vertical-align: middle;
  line-height: 50px;
}

.app-title .subtitle {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
}